.container {
  max-width: 1256px;
  margin: auto; }

.block {
  -webkit-animation: show;
  animation: show;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  animation-direction: reverse; }
