.button
    padding: 10px 19px
    border: none
    border-radius: 2px
    text-transform: uppercase
    font-size: 0.9rem
    &:hover
        cursor: pointer
    &--price
        width: 14.78rem
        height: 3.57rem
    &--primary 
        font-size: 1rem
        background-color: $primary
        color: $light
        box-shadow: 0px 5px 15px rgba($primary, 0.2)
        transition: box-shadow 0.2s
        &:hover
            box-shadow: none
    &--outline
        width: 14.78rem
        height: 3.57rem
        font-size: 1rem
        border: 1px solid $light
        background-color: transparent 
        color: $light
        margin: 0