.design
    &__section-title
        margin-bottom: 2rem
        font-size: 0.95rem
        font-weight: normal
.card
    &__pricecard
        position: absolute
        left: 0
        bottom: -1.79rem
        font-size: 1.29rem
        font-family: 'Yeseva One', cursive
        font-weight: normal
        text-transform: uppercase
        background-color: $primary
        color: $light
        padding: 1.214rem 4.3rem
