.hero
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    padding-top: 100px
    background: $dark url('../img/bg_hero.jpg') no-repeat center/cover
    height: 100vh
    color: $light
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba($dark, 0.7)
    &__content
        position: relative
        max-width: 47.85rem
        margin-left: 4.28rem
    &__title
        margin-bottom: 1rem
    &__text
        max-width: 30rem
        font-size: 1.3rem
        line-height: 125%
        margin: 0
        margin-bottom: 2.8rem
    &__button
        margin-right: 15px
        padding: 13px 19px
    &__instagram
        left: 0
        top: 0
        position: absolute
        max-width: 80px
        height: 100%
    &__scroll-down
        font-family: 'Yeseva One'
        font-size: 0.7rem
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        left: 0
        bottom: 0
        min-width: 17.6rem
        min-height: 6.92rem
        background-color: $dark
        text-transform: uppercase
        text-decoration: none
        color: $light
        &::after
            content: ''
            background: url('../img/scroll.svg') no-repeat center
            width: 25px
            height: 25px
            border: 2px solid $primary
            border-radius: 50%
            margin-left: 12px
.instagram
    display: flex
    justify-content: center
    align-items: center
    background: $dark
    &__link
        font-size: 0.85rem
        display: flex
        align-items: center
        text-transform: uppercase
        text-decoration: none
        color: $primary
        transform: rotate(90deg)
        line-height: 0.8
        &::after
            content: ''
            width: 2.8rem
            height: 1px
            background-color: $primary
            margin-left: 0.8rem

        
.title
    font-family: 'Yeseva One', cursive
    font-weight: normal
    text-transform: uppercase
    font-size: 2.3rem
    line-height: 1.35
    &--primary
        color: $primary